<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmail.mosoft521.paper.dao.CommonXzqhTreePathMapper">
  <resultMap id="BaseResultMap" type="com.gmail.mosoft521.paper.entity.CommonXzqhTreePath">
    <id column="anc_dict_id" jdbcType="BIGINT" property="ancDictId" />
    <id column="des_dict_id" jdbcType="BIGINT" property="desDictId" />
    <result column="path_length" jdbcType="INTEGER" property="pathLength" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="disabled" jdbcType="INTEGER" property="disabled" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    anc_dict_id, des_dict_id, path_length, creater, create_time, modifier, modify_time, 
    version, disabled
  </sql>
  <select id="selectByExample" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePathExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from common_xzqh_tree_path
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePathKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from common_xzqh_tree_path
    where anc_dict_id = #{ancDictId,jdbcType=BIGINT}
      and des_dict_id = #{desDictId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePathKey">
    delete from common_xzqh_tree_path
    where anc_dict_id = #{ancDictId,jdbcType=BIGINT}
      and des_dict_id = #{desDictId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePathExample">
    delete from common_xzqh_tree_path
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePath">
    insert into common_xzqh_tree_path (anc_dict_id, des_dict_id, path_length, 
      creater, create_time, modifier, 
      modify_time, version, disabled
      )
    values (#{ancDictId,jdbcType=BIGINT}, #{desDictId,jdbcType=BIGINT}, #{pathLength,jdbcType=INTEGER}, 
      #{creater,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, #{disabled,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePath">
    insert into common_xzqh_tree_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ancDictId != null">
        anc_dict_id,
      </if>
      <if test="desDictId != null">
        des_dict_id,
      </if>
      <if test="pathLength != null">
        path_length,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ancDictId != null">
        #{ancDictId,jdbcType=BIGINT},
      </if>
      <if test="desDictId != null">
        #{desDictId,jdbcType=BIGINT},
      </if>
      <if test="pathLength != null">
        #{pathLength,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePathExample" resultType="java.lang.Long">
    select count(*) from common_xzqh_tree_path
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update common_xzqh_tree_path
    <set>
      <if test="record.ancDictId != null">
        anc_dict_id = #{record.ancDictId,jdbcType=BIGINT},
      </if>
      <if test="record.desDictId != null">
        des_dict_id = #{record.desDictId,jdbcType=BIGINT},
      </if>
      <if test="record.pathLength != null">
        path_length = #{record.pathLength,jdbcType=INTEGER},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.disabled != null">
        disabled = #{record.disabled,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update common_xzqh_tree_path
    set anc_dict_id = #{record.ancDictId,jdbcType=BIGINT},
      des_dict_id = #{record.desDictId,jdbcType=BIGINT},
      path_length = #{record.pathLength,jdbcType=INTEGER},
      creater = #{record.creater,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      disabled = #{record.disabled,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePath">
    update common_xzqh_tree_path
    <set>
      <if test="pathLength != null">
        path_length = #{pathLength,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=INTEGER},
      </if>
    </set>
    where anc_dict_id = #{ancDictId,jdbcType=BIGINT}
      and des_dict_id = #{desDictId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmail.mosoft521.paper.entity.CommonXzqhTreePath">
    update common_xzqh_tree_path
    set path_length = #{pathLength,jdbcType=INTEGER},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      disabled = #{disabled,jdbcType=INTEGER}
    where anc_dict_id = #{ancDictId,jdbcType=BIGINT}
      and des_dict_id = #{desDictId,jdbcType=BIGINT}
  </update>
</mapper>